@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;

  /* Brand Colors */
  --primary-500: #f09d51;
  --primary-400: #f3b377;
  --primary-300: #f7cfa8;
  --secondary: #211103;
  --surface: #343434;

  /* Text Colors */
  --base: #ffffff;
  --muted: #e0dfd5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);

  --color-secondary: var(--secondary);
  --color-surface: var(--surface);

  --color-base: var(--base);
  --color-muted: var(--muted);

  --animate-blink: blink 1s step-end infinite;
  --animate-typing: typing 4s steps(36);

  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 36ch;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  width: 0;

  border-right: 8px solid var(--color-muted);
  display: inline-block;
  line-height: 1;

  animation:
    var(--animate-typing) forwards,
    var(--animate-blink);
}
